.error {
  display: block;
  color: red;
}

.form-row {
  padding: 15px;
}

.field-name {
  margin-inline-end: 15px;
}

.controls button {
  margin-inline-end: 15px;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
}

.controls button:last-of-type {
  margin-inline-end: 0;
}

.controls button:disabled {
  background-color: #ccc;
  color: #000;
}
